/*Fonte do google - montserrat*/


@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;

}

body {

    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #eef5fe;
}


.wrapper {

    display: flex;
    column-gap: 10px;

}

.wrapper .dot {
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #008ae6;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: animate 1s ease-in-out infinite alternate;
}

.dot:nth-child(1) {
    animation-delay: -0.25s;
}

.dot:nth-child(2) {
    background: #e60000;
    animation-delay: -0.5s;
}

.dot:nth-child(3) {
    background: #ffcc00;
    animation-delay: -0, 0.75s;
}

.dot:nth-child(4) {
    background: #008800;
    animation-delay: -1s;
}


@keyframes animate {

    0% {

        transform: translateY(-10px);

    }

    100% {

        transform: translateY(5px);

    }

}